---
Checks: >
    clang-analyzer-*,-clang-analyzer-security.insecureAPI.strcpy,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-clang-diagnostic-unknown-warning-option,
    performance-*,
    readability-*,-readability-magic-numbers,-readability-identifier-length,-readability-else-after-return,-readability-isolate-declaration,-readability-function-cognitive-complexity,
    bugprone-*,-bugprone-easily-swappable-parameters,-bugprone-implicit-widening-of-multiplication-result,-bugprone-reserved-identifier
HeaderFilterRegex: '/src/.*\.h'